# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

email => vijaysingh845490@gmail.com
pass => vijay2002
mongodb://saudvijaysingh:YUhMbdDfTVAyozEK@<hostname>/?ssl=true&replicaSet=atlas-r2o0dw-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
